* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: black; /* Fundo preto */
}

.background {
    position: relative;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #e63946;
    transform: scale(1.05); /* Animação de aumento */
}

button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
}

button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

/* Estilo das bolinhas */
.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh);
    }
}

/* Efeito de rastro */
.rastro {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 0, 255, 0));
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
}
